body {
  *:not(.glyphicon) {
    font-family: "open sans"!important;
  }
  #equipe {
    a {
      text-decoration: none;
    }
  }
  #chatRoom {
    overflow: hidden;
    height: 92vh;
    z-index: 100;
    position: relative;
    #receivedMessagesWrapper {
      overflow-y: auto;
      height: 100%;
      padding: 10px;
      background-color: #ddd;
      #receivedMessages {
        margin-bottom: 70px;
        .chatMessage {
          margin-bottom: 0;
          font-size: 14px;
          min-width: 25%;
          max-width: 100%;
          position: relative;
          color: black;
          text-align: left;
          p {
            margin-bottom: 0;
            word-wrap: break-word;
          }
          &:last-of-type {
            margin-bottom: 10px;
          }
          &.left {
            clear: both;
            float: left;
          }
          &.right {
            clear: both;
            float: right;
          }
          .userID {
            font-weight: 900;
            font-size: 16px;
          }
          .messageContent {
            font-weight: 400;
            font-size: 14px;
          }
          i {
            font-weight: 400;
            font-style: italic;
            text-align: right;
            font-size: 12px;
          }
        }
      }
    }
    #sendMessage {
      width: 100%;
      height: 50px;
      text-align: left;
      position: relative;
      top: -70px;
      margin-left:1%;
      #sendMessageInput {
        width: 82%;
        height: 40px;
        padding: 0 0.5%;
        font-size: 16px;
      }
      #sendMessageButton {
        display: inline-block;
        width: 15%;
        height: 40px;
        vertical-align: top;
      }
    }
  }
}
