<div class="modal-content register container">
  <h1 class="text-center" style="margin-top:5%;">TeamPlay</h1>
  <div class="modal-header" style="border:none;">
    <h4 class="modal-title text-center">Inscription</h4>
  </div>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="inputName" placeholder="Nom d'usager" ng-model="user.name">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe" ng-model="user.password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword2" placeholder="Mot de passe (encore)" ng-model="user.password2">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="inputEmail" placeholder="Courriel" ng-model="user.email">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submit()">S'inscrire</button>
  </form>
</div>
