<div class="col-lg-4">
    <div class="col-md-12 panel_dashboard panel">
        <form class="row" style="padding:7px;">
            <div class="titre_panel">
                <div class="espacement">
                    <input class="form-control" placeholder="Nom" type="text" ng-model="team.name"/>
                </div>
                <input class="form-control" placeholder="Description" type="text" ng-model="team.description"/>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submit()">Créer une équipe</button>
        </form>
    </div>
</div>