
  <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
    <h4>{{alertMessage}}</h4>
  </div>
  <div class="btn-toolbar">
    <p class="pull-right lead"></p>
    <div class="btn-group" style="margin-bottom:10px;">
      <button class="btn btn-success" ng-click="changeView('agendaDay', 'calendar')">AgendaDay</button>
      <button class="btn btn-success" ng-click="changeView('agendaWeek', 'calendar')">AgendaWeek</button>
      <button id="refresh" class="btn btn-success" ng-click="changeView('month', 'calendar')">Month</button>
    </div>
  </div>
  <div class="calendar" ng-model="eventSources" calendar="calendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
