<div id="chatRoom">

  <div id="receivedMessagesWrapper">
  	<div id="receivedMessages"></div>
  </div>
  <div id="sendMessage">
    <input id="sendMessageInput" type="text" placeholder="Envoyez un message"/>
    <button id="sendMessageButton" class="btn btn-primary" ng-click="$ctrl.submit()">Envoyer</button>
  </div>
</div>
