<div class="dashboard">
  <div class="menuGauche" ng-show="$ctrl.menu">
    <div class="imageProfilMenu">
      <div class="row espacement">
        <div class="col-xs-4" style="">
          <img src="http://aws-cf.imdoc.fr/prod/photos/1/3/9/8652139/19977278/img-1997727866c.jpg?v=11" class="img-thumbnail imageProfil" alt="Mountain View">
        </div>
        <div class="col-xs-6">
          <div style="color:#BBBBBB;">Bienvenue,</div>
          <user-name></user-name>
          <div class=""><a href="http://localhost:8080/" style="color:white; font-size:13px;">Se déconnecter</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bodyDashboard">
    <div class="entete">
      <div class="text-center titre-principale">
        <a ng-click="$ctrl.collapseMenu()" class="pull-left iconMenu"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        <text style="margin-left:-30px">Vos équipes</text>
      </div>
    </div>
    <div class="bodyMenu text-center">
      <div id="equipe">
        <div ng-repeat="team in $ctrl.data.teams track by $index">
          <team-tile index="{{$index}}" name="{{team.name}}" description="{{team.description}}" ndashboards="{{team.dashboards.length}}" nchatrooms="{{team.chatRooms.length}}" ncalendars="{{team.calendars.length}}"></team-tile>
        </div>
        <add-team></add-team>
      </div>
    </div>
  </div>
</div>
