<div>
  <div class="menuGauche" ng-show="$ctrl.menu">
    <div class="imageProfilMenu">
      <div class="row espacement">
        <div class="col-xs-4" style="">
          <img src="http://aws-cf.imdoc.fr/prod/photos/1/3/9/8652139/19977278/img-1997727866c.jpg?v=11" class="img-thumbnail imageProfil" alt="Mountain View">
        </div>
        <div class="col-xs-8">
          <div style="color:#BBBBBB;">Bienvenue,</div>
          <user-name></user-name>
          <div class=""><a href="/" style="color:white; font-size:13px;">Se déconnecter</a></div>
          <div class=""><a href="/dashboard" style="color:white; font-size:13px;">Retour aux équipes</a></div>
        </div>
      </div>
    </div>
    <div class="marginMenu">
      <ul class="nav nav-pills nav-stacked ">
        <li ng-click="$ctrl.changeMenu(1)" ng-class="$ctrl.babillards"><a href="#">Liste des babillards</a></li>
        <li ng-click="$ctrl.changeMenu(2)" ng-class="$ctrl.message"><a href="#">Message</a></li>
        <li ng-click="$ctrl.changeMenu(3)" ng-class="$ctrl.calendrier"><a href="#">Calendrier</a></li>
        <li ng-click="$ctrl.changeMenu(4)" ng-class="$ctrl.membre"><a href="#">Gestion de membre</a></li>
      </ul>
    </div>
  </div>
  <div class="bodyDashboard">
    <div class="entete">
      <div class="text-center titre-principale">
        <a ng-click="$ctrl.collapseMenu()" class="pull-left iconMenu"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        <text style="margin-left:-30px">Dev Team</text>
      </div>
    </div>
    <div class="bodyMenu text-center">
      <div ng-show="$ctrl.babillards == 'active'" class="contrePaddingBody babillard">
        <dashboard-tile></dashboard-tile>
        <div class="boiteBabillard">
          <div class="col-md-12 text-center" style="margin:15px;">
            <button type="submit" ng-show="$ctrl.boutonCategorie" ng-click="$ctrl.boutonCategorie = false" class="btn btn-primary">Créer un babillard</button>
            <form ng-show="!($ctrl.boutonCategorie)" class="row" style="padding:7px;">
              <div class="espacement">
                <input class="form-control" placeholder="Nom catégorie" type="text" />
              </div>
              <div class="espacement">
                <input class="form-control" placeholder="Description" type="text" />
              </div>
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.categorie()">Créer le babillard</button>
            </form>
          </div>
        </div>
      </div>
      <div ng-show="$ctrl.membre == 'active'" style="margin-top:20px;padding-left:10px;padding-right:10px;">
        <button type="submit" class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal" style="margin-bottom:10px;">Inviter un membre</button>
        <table class="table text-left table-striped table-bordered">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Adresse courriel</th>
              <th>Administrateur</th>
              <th>Supprimer un membre</th>
              <th>Invité</th>
              <th>Invitation acceptée</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bernard Saucier</td>
              <td>FeelTheBern@gmail.com</td>
              <td>
                <input type="checkbox" checked>
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox" checked>
              </td>
              <td> </td>
            </tr>
            <tr>
              <td>Julien_Prog</td>
              <td>Julien_prog@gmail.com</td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox" checked>
              </td>
              <td> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr>
            <tr>
              <td>SirMichaud</td>
              <td>ChrisM@gmail.com</td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox" checked>
              </td>
              <td> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr>
            <tr>
              <td>Alex</td>
              <td>ouhlala@gmail.com</td>
              <td>
                <input type="checkbox" >
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox" checked>
              </td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="$ctrl.message == 'active'" id="chatRoom">
        <chat></chat>
      </div>
      <div style="padding-top:20px; padding-left:10px;padding-right:10px;" ng-show="$ctrl.calendrier == 'active'" id="chatRoom">
        <calendar></calendar>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inviter un membre</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Entrez votre recherche d'un nom" name="q" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Inviter</button>
      </div>
    </div>
  </div>
</div>
