<div class="boiteBabillard">
  <div class="col-md-12 panelBabillard">
    <div class="titre_panel">
      <div class="titre_3">Implementer Fct</div>
      Il reste le upload a faire !
    </div>
    <card-tile></card-tile>
    <div class="col-md-12 text-left tacheBabillard">
      <div class="titre_4">Celebrer la fin de bacc de Chris</div>
      Acheter pas mal de bières...
    </div>
    <div class="col-md-12 text-left tacheBabillard">
      <div class="titre_4">Vendre le prototype</div>
      trouver un acheteur pour 1M
    </div>
    <div class="col-md-12 text-center">
      <button style="margin-bottom:7px;" type="submit" ng-show="$ctrl.boutonTache" ng-click="$ctrl.boutonTache = false" class="btn btn-primary ">Ajouter une tâche</button>
    </div>
    <div ng-show="!$ctrl.boutonTache" class="col-md-12 text-center tacheBabillard">
      <form class="row text-left" style="padding:7px;">
        <div class="espacement">
          <input class="form-control" placeholder="titre" type="text" />
        </div>
        <div class="espacement">
          <input class="form-control" placeholder="Description" type="text" />
        </div>
        <button type="submit" class="btn btn-primary pull-right" ng-click="$ctrl.creerTache()">Créer tâche</button>
      </form>
    </div>
  </div>
</div>
