<div class="modal-content login container">
  <h1 class="text-center" style="margin-top:5%;">TeamPlay</h1>
  <div class="modal-header" style="border:none;">
    <h4 class="modal-title text-center">Bienvenue</h4>
  </div>
  <form class="text-center">
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 text-center parent espacement">
          <input type="text" class="form-control" id="inputName" placeholder="Nom d'usager" ng-model="user.name" />
        </div>
        <div class="col-xs-12 text-center parent espacement">
          <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe" ng-model="user.password" />
        </div>
        <div class="col-xs-12 text-center parent">
          <div class="col-xs-3 enfant">
            <a href="http://localhost:8080/">Mot passe perdu?</a>
          </div>
          <div class="col-xs-3 enfant">
            <a href="http://localhost:8080/addMember">Creer compte</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" ng-click="submit()">Se connecter</button>
    </div>
  </form>
</div>
