<!-- <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul> -->


<div class="row">
	<div class="col-md-4">Nom d'utilisateur : </div>
	<div class="col-md-8"><input type="text" /></div>
	<div class="col-md-4">Mot de passe : : </div>
	<div class="col-md-8"><input type="text" /></div>
</div>
