<a class="teamTile" team-index="{{index}}" ng-href="/dashboardEquipe"> 
  <div class="col-lg-4" style="color: #73879C !important;">
    <div class="col-md-12 panel_dashboard panel">
      <div class="titre_panel">
        <div class="titre_3">{{name}}</div>
        {{description}}
      </div>
      <div class="col-md-12">
        <span class="col-md-4 iconPanelInfo">
          <i class="enfant glyphicon glyphicon-list-alt" style="padding-right:5px;"></i>
          <span class="enfant badge colorPostIt">{{ndashboards}}</span>
        </span>
        <span class="col-md-4 iconPanelInfo">
          <i class="enfant glyphicon glyphicon-envelope" style="padding-right:5px;"></i>
          <span class="enfant badge colorMessage">{{nchatrooms}}</span>
        </span>
        <span class="col-md-4 iconPanelInfo">
          <i class="enfant glyphicon glyphicon-calendar" style="padding-right:5px;"></i>
          <span class="enfant badge colorCalender">{{ncalendars}}</span>
        </span>
      </div>
    </div>
  </div>
</a>