body *:not(.glyphicon) {
  font-family: "open sans" !important; }
body #equipe a {
  text-decoration: none; }
body #chatRoom {
  overflow: hidden;
  height: 92vh;
  z-index: 100;
  position: relative; }
  body #chatRoom #receivedMessagesWrapper {
    overflow-y: auto;
    height: 100%;
    padding: 10px;
    background-color: #ddd; }
    body #chatRoom #receivedMessagesWrapper #receivedMessages {
      margin-bottom: 70px; }
      body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage {
        margin-bottom: 0;
        font-size: 14px;
        min-width: 25%;
        max-width: 100%;
        position: relative;
        color: black;
        text-align: left; }
        body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage p {
          margin-bottom: 0;
          word-wrap: break-word; }
        body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage:last-of-type {
          margin-bottom: 10px; }
        body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage.left {
          clear: both;
          float: left; }
        body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage.right {
          clear: both;
          float: right; }
        body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage .userID {
          font-weight: 900;
          font-size: 16px; }
        body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage .messageContent {
          font-weight: 400;
          font-size: 14px; }
        body #chatRoom #receivedMessagesWrapper #receivedMessages .chatMessage i {
          font-weight: 400;
          font-style: italic;
          text-align: right;
          font-size: 12px; }
  body #chatRoom #sendMessage {
    width: 100%;
    height: 50px;
    text-align: left;
    position: relative;
    top: -70px;
    margin-left: 1%; }
    body #chatRoom #sendMessage #sendMessageInput {
      width: 82%;
      height: 40px;
      padding: 0 0.5%;
      font-size: 16px; }
    body #chatRoom #sendMessage #sendMessageButton {
      display: inline-block;
      width: 15%;
      height: 40px;
      vertical-align: top; }

/*# sourceMappingURL=style.css.map */
